<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-9'>
            <a href="#page-top">
                <img class='nav-logo' src='img/resbaz_logos/Resbaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-3'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Locations</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>