---
layout: site
permalink: dunedin

location: DUNEDIN

dates: February 2-4, 2016

<!-- splashImage: https://upload.wikimedia.org/wikipedia/commons/c/c9/University_of_Otago_Clocktower.jpg -->
splashImage: https://photos-1.dropbox.com/t/2/AAD-ygOV9fcmUyDqHrdbFxdbYmAWh48ZPM8HdGBfbsdgWg/12/50640154/jpeg/32x32/1/_/1/2/Clocktower%20II.jpg/EK3y-SYY8sIDIAIoAg/2ojaj-0EI93CHTyvOzDjLIuQ7LtK2VWRXKFvc_dCRow?size=1600x1200&size_mode=3

map: sites/dunedin.geojson

menu: The Research Bazaar is a (free-of-charge) 3-day intensive conference where researchers come together to up-skill in ‘next generation digital research tools and skills’. <BR><BR> Due to intense interest we have had to close registrations for the Dunedin ResBaz event, but we will be running additional Software Carpentry Woorkshops in the week of February 22nd - please email <a href="mailto:res.baz@otago.ac.nz">res.baz@otago.ac.nz</a> to register your interest for our next event.<br><BR> Below are the sessions on offer at the Dunedin ResBaz event.  <br><br> 

accommodation: Coming to the Dunedin ResBaz event from out of town?<BR>Dunedin has a multitude of accommodation options to suit all tastes and budgets. <BR>If you need advice please email <a href="mailto:res.baz@otago.ac.nz">res.baz@otago.ac.nz</a> and we will endeavour to help.

classes:
 - class: Main Streams - Software Carpentry
   tools:
    - name: The Unix Shell
      id: id1
      blurb: Use of the shell is fundamental to using a wide range of other powerful tools and computing resources (including “high-performance computing” supercomputers). These lessons will start you on a path towards using these resources effectively.
    - name: R
      id: id2
      blurb: The R language provides a flexible and powerful environment for data analysis and visualisation.  This workshop will introduce the R language and will teach you some key programming skills.
    - name: Git
      id: id3
      blurb: Version control is the lab notebook of the digital world - it’s what professionals use to keep track of what they’ve done and to collaborate with other people. Keeping a record of what was changed, when, and why is extremely useful for all researchers if they ever need to come back to the project later on.
 - class: Additional Sessions
   tools:
    - name: ggplot2 for data visualisation
      id: id4
      blurb: The popular ggplot2 package for R provides a powerful means to create compelling data visualisations.  Come along and learn how to use ggplot2 to make your data look even more beautiful. 
    - name: Reproducible research - concepts and practise
      id: id5
      blurb: Reproducibility is a key component of  science, and one that is becoming even more critical as we analyse ever-growing amounts of data using increasingly complex tools.  Come along to learn about the key concepts of reproducible research, and gain some experience with tools that will help you put these ideas into practise. 
    - name: Interactive data analysis and visualisation with R and shiny server
      id: id6
      blurb: Want to turn your ground-breaking R analyses into web-based tools for your friends and collaborators?  The "shiny" package for R provides a simple mechanism for building sophisticated web interfaces for interactive data analysis and visualisation - come along and learn how it's done.
    - name: Advanced Unix Shell
      id: id7
      blurb: Become a command line guru. Enough said - it sells itself.
    - name: Creating Functions and Packages in R
      id: id8
      blurb: Can't get enough of R?  This focused workshop will help turn your commands into scripts, your scripts into functions, and your functions into packages - what more could you want? 
    - name: Introduction to Python
      id: id9
      blurb: Always wanted to learn about Python and how it can be used for data analysis - now's your chance!
    - name: Data Carpentry
      id: id10
      blurb: Got data? We've got tools!

schedule: Each day at ResBaz will be split into morning and afternoon events. Following a Key Story from one of our exciting speakers, the mornings will consist of introductory <a href='https://software-carpentry.org/'>Software Carpentry</a> lessons, alongside intermediate and advanced topics for those who are already familar with the introductory material. Afternoon sessions will begin with a second Key Story, followed by a more informal collection of activities, including focussed workshops, dicussion sessions, and lightning research presentations.  At the end of each afternoon we will reconvence for a discussion/demonstration session, to help set the scene for an evening of fun social and networking activities. <br><br>

days:
 - day: Tuesday February 2
   sessions:
    - title: <b>8:45am Welcome and Key Story 1</b> <BR> Mik Black (University of Otago)
    - title: <b>9:30am Workshops</b><BR>Unix Shell (Software Carpentry) <BR> &emsp;<b>OR</b> <BR> Creating Functions and Packages in R <BR> <i>Morning tea break at 10:45am</i>
    - title: <b>12:30pm LUNCH</b>
    - title: <b>1:15pm Key Story 2</b> <BR> Suzanne Rosier (NIWA)
    - title: <b>2:00pm Mini-workshops</b> <BR> - Advanced Unix Shell <BR> - Introduction to Python <BR> - Data manipulation in R <BR> - Demonstration sessions <BR> <i>Afternoon tea break at 3:15pm</i>
    - title: <b>4:30pm Discussion/demonstration session</b> <BR> - Accessing NeSI Resources <BR> - Running parallel R jobs on NeSI
    - title: <b>5:30pm Evening social event</b>
 - day: Wednesday February 3
   sessions:
    - title: <b>8:45am Key Story 3 </b><BR> Christine Jasoni (University of Otago)
    - title: <b>9:30am Workshops</b><BR>R (Software Carpentry) <BR> &emsp;<b>OR</b> <BR> Tools for reproducible research <BR> <i>Morning tea break at 10:45am</i>
    - title: <b>12:30pm LUNCH</b>
    - title: <b>1:15pm Key Story 4</b> <BR> Peter Ellis (MBIE)
    - title: <b>2:00pm Mini-workshops</b> <BR> - Introduction to Reproducible Research tools <BR> - Plotting in R <BR> - Data Carpentry <BR> - Demonstration sessions <BR> <i>Afternoon tea break at 3:15pm</i>
    - title: <b>4:30pm Discussion/demonstration session</b> <BR> - Mozilla Study Groups
    - title: <b>6:00pm (or thereabouts) Dinner</b>
 - day: Thursday February 4
   sessions:
    - title: <b>8:45am Key Story 5 </b><BR> Aleksandra Pawlik (Software Sustainability Institute, UK)
    - title: <b>9:30am Workshops</b><BR>Version Control with Git (Software Carpentry) <BR> &emsp;<b>OR</b> <BR> R-based web apps with Shiny server  <BR> <i>Morning tea break at 10:45am</i>
    - title: <b>12:30pm LUNCH</b>
    - title: <b>1:15pm Key Story 6</b> <BR> Paul Gardner (University of Canterbury)
    - title: <b>2:00pm Closing remarks</b> (note early finish)

speakers:
 - name: Dr Aleksandra Pawilk
   img: img/placehold.jpg
   blurb: Aleksandra leads the UK's Software Sustainability Institute's training activities. She is a core member of the global Software and Data Carpentry teams, and will be training new Software Carpentry instructors during her visit to NZ.
 - name: Dr Peter Ellis 
   img: img/placehold.jpg
   blurb: Peter is the Manager, Building and Energy Trends at Ministry of Business, Innovation and Employment (MBIE).  Peter is a professional statistician, and uses tools like R, Shell and Git to analyze a range of different data types.
 - name: Dr Suzanne Rosier
   img: img/placehold.jpg
   blurb: Suzanne is a climate scientist at the National Institute of Water and Atmospheric Research (NIWA).  Suzanne is the Weather @ home New Zealand programme leader.
 - name: Dr Paul Gardner
   img: img/placehold.jpg
   blurb: Paul is a Senior Lecturer in Bioinformatics at the University of Canterbury, and a former Rutherford Fellow (2010-2015).  Paul's research involves the use of bioinformatics tools to analyze RNA.
 - name: A/Prof Christine Jasoni
   img: img/placehold.jpg
   blurb: Christine based in the Department of Anatony at the University of Otago, and is a member of the Centre for Neuroendocrinolgy. Christine's research focuses on understanding how the maternal environment during pregnancy affects the formation of the fetal brain.
 - name: A/Prof Mik Black
   img: img/placehold.jpg
   blurb: Mik is a statistician based in the Department of Biochemistry at the University of Otago.  Mik uses R extensively to analyse data from genomic experiments.
 
sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; height: 600px; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
<!--                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img> -->
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> About </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>WE'RE FULL</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>We have had a huge response to the Dunedin ResBaz event, and are currently unable to accept any more registrations.</p>
            </div>
            <div class="col-lg-4">
                <p>If you are interested in attending future ResBaz or Software Carpentry events, please email us at <a href="mailto:res.baz@otago.ac.nz">res.baz@otago.ac.nz</a> and we will notify you of upcoming sessions.</p>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
<!--                    <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img> -->
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }
