---
layout: site
permalink: melbourne

location: University of Melbourne
dates: February 1-3, 2016
splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg
map: sites/melbourne.geojson
accommodation: For the 2016 ResBaz Conference there may be some free camping available under the Research Bazaar Bedouin tents on the lawn. You'll need to bring your own sleeping bag, pillow, towel, and earplugs (for the snorers!). Showers will be available in a nearby campus building. Let us know if you're intereseted in camping out at ResBaz 2016 when you fill in your <a href = "#registerSection">registration form</a>. <br><br> If camping doesn't sound like your style, there are many alternative accommodation options close to the The University of Melbourne. For more information see <a href = "http://services.unimelb.edu.au/housing/moving-to-melbourne/temporary-accommodation" target="_blank">here</a>.
menu: There are some amazing tools on offer at Melbourne ResBaz 2016. You can <a href="#registerSection">register</a> your interest to attend a class in any or all of the topics below..<br>If you think you've got what it takes to be a helper or trainer in one of these tools; we'd love to hear from you! Please nominate yourself as a volunteer/trainer when you <a href="#registerSection">register</a> - we'll be in touch! 
classes:
 - class: Main Streams
   tools:
    - name: MATLAB Data Analysis
      id: mat
      blurb: MATLAB is a powerful and versatile tool for data acquisition, analysis and visualisation. In this workshop, you’ll learn the basics of MATLAB for quick and effective data analysis. It covers all steps from reading in data, writing scripts and functions for basic analyses, and creating figures that can be shared and published.
    - name: R Data Analysis
      id: r
      blurb: R is widely used across a range of disciplines for statistical computing and generating publication-quality figures. In this Software Carpentry workshop, you’ll learn the fundamentals of R for data science, Unix Shell for interacting with other programs, as well as version control and useful concepts for scientific computing such as breaking down problems into modular units, reproducibility, tracking changes to code, collaborating with others, and working with structured data.
    - name: Python (via iPython) Data Analysis
      id: py
      blurb: Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. It covers fundamentals as well as creating reusable functions, graphing with matplotlib and what to do to find and fix errors in your code.
    - name: NLTK Natural Language Processing
      id: nltk
      blurb: Researchers are often confronted with natural language datasets so large that not even teams of researchers would be able to analyse by hand. (Even just reading through the 100 million word British National Corpus, for example, would take around 10,000 hours.) Python's Natural Language Toolkit (NLTK) provides a powerful means of investigating large bodies of text for patterns that may otherwise be very difficult to find. In this workshop, you’ll learn key concepts and practices in Corpus Linguistics/Distant Reading, investigate example datasets and strategies for implementing NLTK within your own research.
    - name: AutoDesk 3D Printing
      id: ad3d
      blurb: Inventor 3D CAD software offers researchers an easy-to-use set of tools for 3D object design, documentation and product simulation. <i>Digital prototyping</i> with Inventor can help researchers design and validate physical concepts before they’re built. Turning ideas to reality with better research outcomes at reduced cost and lead-times. The training aims to teach basic principles in designing parts, assemblies, and drawings.
    - name: 3D Slicer 3D Printing
      id: 3ds
      blurb: 3D Slicer (Slicer) is a free and open source software package for medical image analysis and scientific visualization. Slicer’s platform provides functionalities for segmentation, registration and three-dimensional visualization of multimodal image data, as well as advanced image analysis algorithms for diffusion tensor imaging, functional magnetic resonance imaging and image-guided radiation therapy. The training aims to teach basic principles in image processing, as well as techniques in extracting 3D models for bio-simulations and 3D printing.
    - name: HTML, CSS, and JavaScript Web Development
      id: web
      blurb: HTML (the Hypertext Markup Language), CSS (Cascading Style Sheets), and JavaScript are the core tools for building web pages. In this workshop you'll learn the basics of structuring a website, and controlling how it looks and acts. 
    - name: D3 Data Visualization
      id: d3
      blurb: D3 is a JavaScript library for working with data and displaying it online. D3 helps you bring data to life using HTML, SVG, and CSS. This workshop will introduce you to the basics of using D3 to create beautiful, animated and interactive graphics out of your data. (This workshop requires beginner level HTML and CSS skills, plus experience in at least one programming language)
    - name: CartoDB and TileMill (MapBox) Research Maps
      id: map
      blurb: CartoDB is a simple yet powerful tool that lets you visualise data onto maps. You’ll learn how to format data to make a map visualisation. We’ll explore the range of inbuilt features that CartoDB offers and how to start customising these tools to produce a map that communicates your research data through a narrative.<br>TileMill lets you create customised maps to display your research. In this workshop, you’ll learn about the art of cartography and the types of data that you can access and use in TileMill. We’ll introduce you to CartoCSS, so you can customise the appearance of your map and control the level of detail that appears and create a map that you’ll be proud to publish. CartoDB is recommended but not required for attending this workshop.
 - class: Minor Electives
   tools:
    - name: Data Collection
      id: daco
      blurb: Electives include -<br>Pyschopy for pyschology stimulus presentation experiments<br>REDCap for medical/clinical surveys<br>AURIN for urban data
    - name: Data Mining
      id: dami
      blurb: Electives include -<br>Google forms<br>Kobo Toolbox for mobile data<br>Open refine for data cleaning<br>Social media and internet data mining<br>Research impact analysis
    - name: Research Skills
      id: res
      blurb: Electives include -<br>Latex for scientific documents<br>Academic reference management<br>Social media for research engagement
    - name: 3D Modelling
      id: 3Dmod
      blurb: Electives include -<br>TinkerCAD for 3D printing and drawing<br>Fusion 360 for 3D printing and drawing<br>MudBox for 3D painting and sculpting
    - name: Computing
      id: comp
      blurb: Electives include -<br>Nectar for basic high performance computing<br>Introduction to Virtual Machines<br>Databases and SQL
    - name: Other
      id: other
      blurb: Electives include -<br>Galaxy for genomics data workflows<br>Airtables for data structures<br>Gephi for network visualization<br>Omeka for image repositories
schedule: Each day at ResBaz will be split into daytime and evening events. The day will be dedicated to classroom teaching time where we will fill your brains with the latest digital research skills. The evening will be about networking with your fellow cross-disciplinary researchers and having fun. <br><br> During the day classes are broken into three 90 minute sessions, starting at 10.30 am, 1.30 pm and 3 pm. A detailed timetable will be displayed here once sessions are confirmed.<br>
days:
 - day: Monday February 1
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
 - day: Tuesday February 2
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
 - day: Wednesday February 3
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
speakers:
 - name:
   img: img/placehold.jpg
   blurb:
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
 - name: You!
   img: img/sponsors/fake-sponsor.png
   blurb: We want you to help lead a session; let us know if you're interested when you <a href="#registerSection">register</a>.
sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="#page-top">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">Menu</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> Menu </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Register here for the {{page.location}} Research Bazaar.</p>
            </div>
            <div class="col-lg-4">
                <p>The registration process starts with a Pre-Assessment Survey, so that we can create the best possible experience for you. Use the promo code given to you at the end of the survey to complete the registration form.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a>
                    <a href="https://docs.google.com/forms/d/1FFsIlRjtxXZIcGpJHvCewW6aQMqJNgOuZrfGnk-017E/edit" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Register
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
