---
layout: site
permalink: guayaquil-es

location: Guayaquil

dates: Febrero 13 y 14, 2016

splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg

map: sites/guayaquil.geojson

accommodation: Cada asistente debe organizar sus detalles de Hospedaje. De todas maneras, estamos gustosos de ayudarte, escribenos un email a resbaz2016@erenetwork.org con tus inquietudes.

about: For the first time ever, Ecuadorian Research and Entrepreneurship Network (EREN) brings the Research Bazaar to Ecuador. The Research Bazaar is a free, two-day intensive capacity-building conference for researchers and individuals interested in developing 'next-generation digital research tools and skills'. This event is open to all those who believe they will benefit from this training and previous knowledge of these tools is not required. Don't miss out on this amazing opportunity! For more information on how to apply, see below.

classes:
 - class: Talleres
   tools:
    - name: Git
      id: swcGit
      blurb: Git es un Software de control de versiones, indispensable para colaborar entre varias personas en un mismo proyecto de software y para tener un historial de cambios y evolucion del mismo.
    - name: Linea de Comandos en Linux
      id: swcCommandLine
      blurb: Aprenderemos lo basico para el uso de la linea de comandos en sistemas Unix/Linux. Esencial para utilizar software de investigacion en entornos GNU/Linux.
    - name: Matlab
      id: Matlab
      blurb: Matlab es uno de los software matematicos mas utilizados. Si tu investigacion tiene formulas avanzadas, te beneficiaras mucho de aprender esta herramienta.
    - name: Mendeley
      id: swcMendeley
      blurb: Taller en la utilizacion de Mendeley para el manejo de referencias y la colaboracion en proyectos de investigacion.
    - name: LaTeX
      id: swcLatex
      blurb: Uso de LaTeX para la elaboracion de documentos de investigacion enfocados en el contenido obteniendo un aspecto profesional sin invertir tanto tiempo en la edicion visual.

schedule: El evento sera los dias 13-14 de Febrero del 2016! Este es el calendario tentativo.
days:
 - day: Sabado 13 de Febrero del 2016
   sessions:
    - title: Que es ResBaz?   
    - title: Linea de Comandos en Unix/Linux (Instructor Jorge Moran)
    - title: MatLab para la investigacion (Instructor Jorge Barros)
    - title: Manejo de versionamiento de codigo en Github (Instructor Ivan Sanchez)
    - title: Socializacion dia 1
 - day: Domingo 14 de Febrero del 2016
   sessions:
    - title: Manejo de Referencias y Colaboracion con Mendeley (Instructor Cristian Montero)
    - title: Conversacion de temas y proyectos de Investigacion (Charla General)
    - title: Creacion de documentos de Investigacion Profesionales en LaTeX (Instructor Cristian Montero)
    - title: Socializacion dia 2/Despedida
speakers:
 - name: Ivan Sanchez
   img: img/isanchez.jpg
   blurb: Coordinador de esta conferencia de ResBaz-GYE. Sera el intructor de Git para manejo de versiones de software.
   linkedin: "https://ec.linkedin.com/in/iasanchez" 
 - name: Jorge Moran
   img: img/jmoran.jpg
   blurb: Director de IT en DayScript. Es el intructor de Linea de comandos en Linux.
   linkedin: "https://ec.linkedin.com/in/jorge-morán-salazar-6a099150/en" 
 - name: Cristian Montero
   img: img/cmontero.jpg
   blurb: Trabaja en la Universidad del Azuay. Es el instructor de Mendeley y de LaTeX.
   linkedin: "http://ec.linkedin.com/in/cristian-montero-b4739338/en"
 - name: Jorge Barros
   img: img/jbarros.jpg
   blurb: Director de su emprendimiento IQuantech. Es instructor de Matlab en la UCSG y tambien en el taller de ResBaz.
   linkedin: "http://ec.linkedin.com/in/jorgebarrosc"

sponsors:
 - name: 'Universidad Catolica de Santiago de Guayaquil'
   img: Logo_UCSG.png
   url: "http://ucsg.edu.ec/"

---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-6'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-6'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href='https://feb2016.resbaz.com/guayaquil-en/'>Read this in English</a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">Menu</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Calendario</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Registro</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Instructores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> Menu </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-lg-12 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-center'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Calendario</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-lg-12 text-center">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Lugar</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Ven y Aprendamos</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <p>Registrese aqui para el Research Bazaar en {{page.location}}.</p>
            </div>
            <div class="col-lg-12">
                <p>El registro comienza con una encuesta previa, para poder crear la mejor experiencia posible para todos. Por favor, use el codigo promocional que se suministra al final de la encuesta para completar la forma de registro.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Encuesta Pre-Inscripcion
                    </a>
                    <a href="" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Registro
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Los Instructores</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
			<a href={{speaker.linkedin}}>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        </a>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hospedaje</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Gracias a los Auspiciantes que hacen posible los talleres ResBaz en {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <a href={{sponsor.url}}>
                          <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      </a>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section>


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
