---
layout: site
permalink: guayaquil-es

location: Guayaquil

dates: Febrero 13 y 14, 2016

splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg

map: sites/template.geojson

accommodation: Cada asistente debe organizar sus detalles de Hospedaje. De todas maneras, estamos gustosos de ayudarte, escribenos un email a resbaz2016@erenetwork.org con tus inquietudes.

about: For the first time ever, Ecuadorian Research and Entrepreneurship Network (EREN) brings the Research Bazaar to Ecuador. The Research Bazaar is a free, two-day intensive capacity-building conference for researchers and individuals interested in developing 'next-generation digital research tools and skills'. This event is open to all those who believe they will benefit from this training and previous knowledge of these tools is not required. Don't miss out on this amazing opportunity! For more information on how to apply, see below.

classes:
 - class: Main Streams
   tools:
    - name: Git
      id: swcGit
      blurb: Software de control de versiones.
    - name: Linea de Comandos en Linux
      id: swcCommandLine
      blurb: Aprenderemos lo basico para el uso de la linea de comandos en sistemas Unix/Linux. Esencial para utilizar software de investigacion en entornos GNU/Linux.
    - name: Mendeley
      id: swcMendeley
      blurb: Taller en la utilizacion de Mendeley para el manejo de referencias y la colaboracion en proyectos de investigacion.
    - name: LaTeX
      id: swcLatex
      blurb: Uso de LaTeX para la elaboracion de documentos de investigacion enfocados en el contenido obteniendo un aspecto profesional sin invertir tanto tiempo en la edicion visual.

schedule: El evento sera los dias 13-14 de Febrero del 2016! Este es el calendario tentativo.
days:
 - day: Sabado 13 de Febrero del 2016
   sessions:
    - title: Que es ResBaz?   
    - title: Linea de Comandos en Unix/Linux (Instructor Jorge Moran)
    - title: MatLab para la investigacion (Instructor Jorge Barros)
    - title: Manejo de versionamiento de codigo en Github (Instructor Ivan Sanchez)
    - title: Socializacion dia 1
 - day: Domingo 14 de Febrero del 2016
   sessions:
    - title: Manejo de Referencias y Colaboracion con Mendeley (Instructor Cristian Montero)
    - title: Conversacion de temas y proyectos de Investigacion (Charla General)
    - title: Creacion de documentos de Investigacion Profesionales en LaTeX (Instructor Cristian Montero)
    - title: Socializacion dia 2/Despedida
speakers:
 - name: Ivan Sanchez
   img: img/isanchez.jpg
   blurb: Ivan Sanchez es coordinador de esta conferencia de ResBaz-GYE. Sera el intructor de Git para manejo de versiones de software. Su interes de investigacion es Mineria de datos y Machine Learning.
 - name: Jorge Moran
   img: img/jmoran.jpg
   blurb: Jorge Moran es director de plataformas moviles en DayScript. Sera el intructor del Taller de Linea de comandos en Linux. Su interes de postgrado es la Seguridad Informatica.
 - name: Cristian Montero
   img: img/cmontero.jpg
   blurb: Cristian Montero trabaje en la Universidad del Azuay. Sera el instructor de Mendeley para manejo de referencias y de LaTeX para la elaboracion de documentos. Su interes de Investigacion es la Computacion distribuida y Cloud Computing.
 - name: Jorge Barros
   img: img/jbarros.jpg
   blurb: Jorge Barros es director de su emprendimiento en software empresarial, IQuantech. Jorge es instructor de Matlab en la UCSG y tambien dara el taller de Matlab en este ResBaz.

sponsors:
 - name: 'Universidad Catolica de Santiago de Guayaquil'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-6'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-6'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href='https://feb2016.resbaz.com/guayaquil-en/'>Read this in English</a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">Menu</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> Menu </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Register here for the {{page.location}} Research Bazaar.</p>
            </div>
            <div class="col-lg-4">
                <p>The registration process starts with a Pre-Assessment Survey, so that we can create the best possible experience for you. Use the promo code given to you at the end of the survey to complete the registration form.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a>
                    <a href="" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Register
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
