---
layout: site
permalink: perth

location: Perth

dates: February 1-3, 2016

splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg

map: sites/perth.geojson

menu: The Research Bazaar is a 3-day intensive conference where researchers come together to up-skill in 'next generation digital research tools and skills'. For more info see our <a href = "http://melbourne.resbaz.edu.au/resbaz2016", target='_blank'>FAQ</a>.<br><br>Below are the tools on offer at Perth ResBaz 2016. Registration will cost $50 (excl. GST).<br><br>The registration fee includes morning tea, lunch, and afternoon tea, along with refreshments and drinks at the end of the first day, as well as dinner and drinks on the second day.

classes:
 - class: Main Streams
   tools:
    - name: Using the Unix shell
      id: unix
      blurb: Use of the shell is fundamental to using a wide range of other powerful tools and computing resources (including “high-performance computing” supercomputers). These lessons will start you on a path towards using these resources effectively.
    - name: Programming with R
      id: r1
      blurb: R is widely used across a range of disciplines for statistical computing and generating publication-quality figures. In this Software Carpentry workshop, you’ll learn the fundamentals of R for data science, Unix Shell for interacting with other programs, as well as version control and useful concepts for scientific computing such as breaking down problems into modular units, reproducibility, tracking changes to code, collaborating with others, and working with structured data.
    - name: Programming with Python
      id: python
      blurb: Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. It covers fundamentals as well as creating reusable functions, graphing with matplotlib and what to do to find and fix errors in your code.
    - name: Version Control with Git
      id: git
      blurb: Version control is the lab notebook of the digital world - it’s what professionals use to keep track of what they’ve done and to collaborate with other people. Keeping a record of what was changed, when, and why is extremely useful for all researchers if they ever need to come back to the project later on.

 - class: Minor Electives
   tools:
    - name: Document editing with LaTeX
      id: latex
      blurb: Learn how to make your technical or scientific documents look brilliant with LaTeX typesetting.
    - name: Visualizing your data on the web using D3
      id: d3_js
      blurb: D3 is a JavaScript library for working with data and displaying it online. D3 helps you bring data to life using HTML, SVG, and CSS. This workshop will introduce you to the basics of using D3 to create beautiful, animated and interactive graphics out of your data.
    - name: Natural language processing with NLTK
      id: nltk
      blurb: Researchers are often confronted with natural language datasets so large that not even teams of researchers would be able to analyse by hand. (Even just reading through the 100 million word British National Corpus, for example, would take around 10,000 hours.) Python's Natural Language Toolkit (NLTK) provides a powerful means of investigating large bodies of text for patterns that may otherwise be very difficult to find. In this workshop, you’ll learn key concepts and practices in Corpus Linguistics/Distant Reading, investigate example datasets and strategies for implementing NLTK within your own research.
    - name: Analysing qualitative data with Nvivo
      id: nvivo
      blurb: 

schedule: Each day at ResBaz will be split into daytime and evening events. The day will be dedicated to classroom teaching time where we will fill your brains with the latest digital research skills. The evening will be about networking with your fellow cross-disciplinary researchers and having fun. <br><br> During the day classes are broken into three 90 minute sessions, starting at 10.30 am, 1.30 pm and 3 pm. Morning or afternoon tea will be served between the sessions.<br><br>

days:
 - day: Monday February 1
   sessions:
    - title: 9:30 - 13:00 | The Unix Shell
    - title: 16:00 - 16:15 | AWARE presentation
    - title: 17:30 - late |  Digital Toolbox Poster Session
 - day: Tuesday February 2
   sessions:
    - title: 9:30 - 17:30 | Programming with Python 
    - title: 9:30 - 17:30 | Programming with R
    - title: Social dinner or BBQ, possible Telescope experience
 - day: Wednesday February 3
   sessions:
    - title: 9:30 - 13:00 | Version Control with Git
    - title: 14:00 - 15:00 | Document editing with LaTeX
    - title: 14:00 - 15:00 | Visualizing data on the web with D3
    - title: 14:00 - 15:00 | Natural language processing with NLTK 
    - title: 14:00 - 15:00 | Analyzing quantitative data with NVivo
    - title: More to come!

speakers:
 - name: Andrew Rohl
   img: img/rohl.png
   blurb: Andrew is a leading expert in the application of supercomputing and computer simulation technologies.
 - name: Tama Leaver
   img: img/leaver.png
   blurb: Tama teaches and researches a range of issues in the broad area of internet communications.
 - name: Raffaella Demichelis
   img: img/demichelis.png
   blurb:
 - name: Gill Neville
   img: img/placehold.jpg
   blurb:
 - name: Amma Buckley
   img: img/placehold.jpg
   blurb:
 - name: Philipp Bayer
   img: img/bayer.jpg
   blurb: Philipp is a new Postdoc at UWA, where he works on the intricacies of complex plant genomes.

sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">Menu</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> Menu </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Register here for the {{page.location}} Research Bazaar.</p>
            </div>
            <div class="col-lg-4">
                <p>The registration process starts with a Pre-Assessment Survey, so that we can create the best possible experience for you. Use the promo code given to you at the end of the survey to complete the registration form.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a>
                    <a href="https://docs.google.com/forms/d/1H8gMK0s1-oGRJaDGL7BIVDPVG-NwqqX4Y-uVgW_CCtk/viewform" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Register
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
