---
layout: site
permalink: wellington

location: Wellington

dates: April 26-28, 2016

splashImage: https://upload.wikimedia.org/wikipedia/commons/2/21/WellingtonPano.jpg

map: sites/wellington.geojson

menu: Site Under Construction - details coming soon. 

classes:
 - class: CODE - Software Carpentry
   tools:
    - name: The Unix Shell
      id: id1
      blurb: If data is the new gold, then survey-creation software Qaultrics maybe the gold digging tool you need. Learn how to capture both qualitative and quantitative data effectively by understanding survey design principles and tools.
    - name: Python
      id: id2
      blurb: Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. 
    - name: Git
      id: idn
      blurb: Version control is the lab notebook of the digital world - it’s what professionals use to keep track of what they’ve done and to collaborate with other people. Keeping a record of what was changed, when, and why is extremely useful for all researchers if they ever need to come back to the project later on.
 - class: Learn - Elective sessions
   tools:
    - name: Quick Qualtrics
      id: id3
      blurb: Need a bigger computer to do your research? Find out about High Performance Computing and how you can access it.
    - name: NVivo for Novices
      id: id4
      blurb: Get an edge by better understanding the explosion of unstructured data in the world today using NVivo - powerful software for qualitative data analysis.
    - name: Excel for Research
      id: ido
      blurb: Microsoft Excel is widely used in a range of research contexts. Learn how to increase effeciency and effectiveness from a Microsoft expert.
    - name: R for Novices
      id: id9
      blurb: Introductory session outlining the basics of <a href="https://www.r-project.org/">R</a>, a free software environment for statistical computing and graphics.
    - name: Know Thyself/Show Thyself
      id: id8
      blurb: Promote your publications, increase impact and collaborate in research by learning about alternative metrics, social networking and unique author identifiers.
    - name: Weebly for Personal Websites
      id: id7
      blurb: Learn how to create dynamic websites for research projects using <a href="https://www.weebly.com/?lang=en/">Weebly</a></p> 
    - name:
      id: id6
      blurb: 

schedule: Each day at ResBaz will be split into morning and afternoon events. Following a Key Story from one of our exciting speakers, the mornings will consists of <a href='https://software-carpentry.org/'>Software Carpentry</a> lessons. Afternoon sessions will be more informal, with plenty of opportunites for <strong>you</strong> to decide parts of the programme, along with fun social and networking activities. <br><br>A more detailed timetable will be displayed once more sessions are confirmed.<br><br>

days:
 - day: Tuesday February 2
   sessions:
    - title: 8:00  Coffee and registration
    - title: 8:30  Welcome 
    - title: 9:00  Unix Shell (Software Carpentry)
    - title: 10:30  Tea
    - title: 11:00  Unix Shell (Software Carpentry)
    - title: 12:00  Lunch and unconference session planning
    - title: 13:00  ResBaz Urban Rogaine
    - title: 14:30  Unconference A
    - title: 15:30  Tea
    - title: 16:00  Unconference B
    - title: 17:00  Wrap-up
 - day: Wednesday February 3
   sessions:
    - title: 8:00  Coffee and registration
    - title: 8:30  Key Story - Susann Beier
    - title: 9:00  Python (Software Carpentry)
    - title: 10:30  Tea
    - title: 11:00  Python (Software Carpentry)
    - title: 12:00  Lunch and Information Booths
    - title: 13:00  Unconference C
    - title: 14:30  Unconference D
    - title: 15:30  Tea
    - title: 16:00  Popcorn and The PhD Movie 2 Screening
    - title: 18:00  Wrap-up
 - day: Thursday February 4
   sessions:
    - title: 8:00  Coffee 
    - title: 8:30  Key Story 2
    - title: 9:00  Version control with git (Software Carpentry)
    - title: 10:30  Tea
    - title: 11:00  Version control with git (Software Carpentry)
    - title: 12:00  Lunch
    - title: 13:00  Unconference E
    - title: 14:30  Unconference F
    - title: 15:30  Close


speakers:
 - name: Susann Beier
   img: img/susann-b.png
   blurb: From aluminium smelting to 3d printed heart matters – How you can make a difference in the world with versatile applied science
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Some of our KeyStory speakers are still to be confirmed - watch this space!
 - name: You!
   img: img/sponsors/fake-sponsor.png
   blurb: We want you to help lead a session; let us know if you're interested.</a>.

sponsors:
 - name: 'University of Auckland Center for eResearch'
   img: fake-sponsor.png
   link: 'http://www.eresearch.auckland.ac.nz/en/centre-for-eresearch.html'
 - name: 'University of Auckland Faculty of Science'
   img: fake-sponsor.png
   link: 'http://www.science.auckland.ac.nz/en.html'
 - name: 'New Zealand eScience Infrastructure'
   img: 'fake-sponsor.png'
   link: 'https://www.nesi.org.nz/'
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
               <!-- <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li> -->
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> About </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>The Auckland ResBaz will be located in and around the fabulous Owen G Glenn building.</p>
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<!--
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Register here for the {{page.location}} Research Bazaar.<br><br>The registration process involves two steps.</p>
            </div>
            <div class="col-lg-4">
                <p>Start with the Pre-Assessment Survey, so that we can create the best possible experience for you. Then use the promo code given to you at the end of the survey to complete the local registration form for the Auckland event.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a>
                    <a href="https://docs.google.com/forms/d/1e6HPoE1UsVPSOvctgkcCs_qMTuCU92qiFcG9EhCyuAk/viewform" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Register
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>
-->

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>


<!-- Accommodation -->
<!-- <section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section> 
<hr class='divider'></hr> -->

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Research Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img> 
                      <!--<img src={{ sponsor.img }}></img> -->
                      <a href={{ sponsor.link }}> <h4>{{ sponsor.name }}</h4> </a>
                  </div>
              {% endfor %}
              <p style="margin: auto;"><small>Splash image CC-BY-NC <a href='https://www.flickr.com/photos/eightson/'>eightson</a>.<small></p>
          </div>
        </div>

    </div>
</section> 


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
