---
layout: site
permalink: melbourne

location: Melbourne
dates: February 1-3, 2016
splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg
map: sites/melbourne.geojson
regsteps:
  - step: 1. Fill in the ResBaz Melbourne registration form (Apply Here)
  - step: 2. To improve your chance of acceptance fill in our <a href="http://go.unimelb.edu.au/4ura" target = "_blank"> Global Research Survey </a>
  - step: 3. Wait for acceptance email and further instructions
  - step: 4. Fill in the Eventbrite form to confirm your attendance and submit your poster profile (details will be in the acceptance email)
  - step: 5. Come and enjoy ResBaz in 1-3 February 2016!
regschedule:
  - date: 16 December
    name: Applications close
  - date: 19 December
    name: Offers made
  - date: 7 January
    name: Registrations close
  - date: 11 January
    name: Posters due
  - date: 21-22 January
    name: Instructor training
  - date: 1-3 February
    name: ResBaz
accommodation1: For the 2016 ResBaz Conference there may be some free camping available under the Research Bazaar Bedouin tents on the lawn. You'll need to bring your own sleeping bag, pillow, towel, and earplugs (for the snorers!). Showers will be available in a nearby campus building. Let us know if you're interested in camping out at ResBaz 2016 when you fill in your <a href = "#registerSection">registration form</a>.<br><br>
accommodation2: <br><br>If camping doesn't sound like your style, there are many alternative accommodation options close to the University of Melbourne. For more information see <a href = "http://services.unimelb.edu.au/housing/moving-to-melbourne/temporary-accommodation" target="_blank">here</a>.
menu: The Research Bazaar is a (free-of-charge) 3-day intensive conference where researchers come together to up-skill in ‘next generation digital research tools and skills’. Below are the tools on offer at the Melbourne event. The main streams run all day on Day 1 and Day 2. Electives run over three sessions (A, B and C) on Day 3. See our <a href="http://melbourne.resbaz.edu.au/ResBaz2016" target = "_blank">FAQ page</a> for more info<br><br>
trainers: Meet your team of ResBaz instructors <a href="http://resbaz.github.io/ResBaz-Community/" target="_blank">here</a>. If you're interested in helping out at future trainings please contact us.
classes:
 - class: Main Streams
   tools:
    - name: MATLAB Data Analysis
      id: mat
      blurb: MATLAB is a powerful and versatile tool for data acquisition, analysis and visualisation. In this workshop, you’ll learn the basics of MATLAB for quick and effective data analysis. It covers all steps from reading in data, writing scripts and functions for basic analyses, and creating figures that can be shared and published.
    - name: R Data Analysis
      id: r
      blurb: R is widely used across a range of disciplines for statistical computing and generating publication-quality figures. In this Software Carpentry workshop, you’ll learn the fundamentals of R for data science, Unix Shell for interacting with other programs, as well as version control and useful concepts for scientific computing such as breaking down problems into modular units, reproducibility, tracking changes to code, collaborating with others, and working with structured data.
    - name: Python (via iPython) Data Analysis
      id: py
      blurb: Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. It covers fundamentals as well as creating reusable functions, graphing with matplotlib and what to do to find and fix errors in your code.
    - name: NLTK Natural Language Processing
      id: nltk
      blurb: Researchers are often confronted with natural language datasets so large that not even teams of researchers would be able to analyse by hand. (Even just reading through the 100 million word British National Corpus, for example, would take around 10,000 hours.) Python's Natural Language Toolkit (NLTK) provides a powerful means of investigating large bodies of text for patterns that may otherwise be very difficult to find. In this workshop, you’ll learn key concepts and practices in Corpus Linguistics/Distant Reading, investigate example datasets and strategies for implementing NLTK within your own research.
    - name: AutoDesk 3D Printing
      id: ad3d
      blurb: Inventor 3D CAD software offers researchers an easy-to-use set of tools for 3D object design, documentation and product simulation. <i>Digital prototyping</i> with Inventor can help researchers design and validate physical concepts before they’re built. Turning ideas to reality with better research outcomes at reduced cost and lead-times. The training aims to teach basic principles in designing parts, assemblies, and drawings.
    - name: 3D Slicer 3D Printing
      id: 3ds
      blurb: 3D Slicer (Slicer) is a free and open source software package for medical image analysis and scientific visualization. Slicer’s platform provides functionalities for segmentation, registration and three-dimensional visualization of multimodal image data, as well as advanced image analysis algorithms for diffusion tensor imaging, functional magnetic resonance imaging and image-guided radiation therapy. The training aims to teach basic principles in image processing, as well as techniques in extracting 3D models for bio-simulations and 3D printing.
    - name: D3 Data Visualization
      id: d3
      blurb: D3 is a JavaScript library for working with data and displaying it online. D3 helps you bring data to life using HTML, SVG, and CSS. This workshop will introduce you to the basics of using D3 to create beautiful, animated and interactive graphics out of your data. (This workshop requires beginner level HTML and CSS skills, plus experience in at least one programming language)
    - name: Data Acquistion and Cleaning
      id: daq
      blurb: This stream will talk about how to get data using survey tools such as Google Forms (a free, web based tool created by Google to do web survey) and mobile data collection tools using Kobo Toolbox (a free web based and mobile based tool to do mobile data collection). <br>Following that, the stream will continue in using Open Refine (a free open source tool that can handle large amount of messy data) to clean up your messy data.
 - class: Electives A
   tools:
    - name: Introduction to Version Control using GitHub
      id: git
      blurb: This lesson introduces version control through the popular code-hosting service Github. Participants will work on a simple collaborative project (creating a map) to get a feel for how Github and version control systems can help in these types of settings
    - name: Psychopy 101
      id: psych
      blurb: Psychopy is a free software package written in the Python programming language for creating and running cognitive/psychophysics experiments. This introductory class is aimed at beginners and does not require any programming experience
    - name: NeCTAR Research Cloud
      id: nectar
      blurb: "This elective will introduce you to Australia’s cloud dedicated to research. You’ll learn how to setup a virtual machine, access it, install tools, and share your compute and data resources with your collaborators"
    - name: Introduction to TinkerCAD
      id: tinker
      blurb: "TinkerCAD is a free to use 3D modelling software that is based in the web browser. Thus means that it's not computer hardware intensive and is perfect for first time CAD users. Learn how to manipulate basic shapes and combine them to produce complex geometries and then export your model to 3D print! It's easy, fun, and allows you to get your bespoke ideas out there!"
    - name: Online Exhibitions and Archives with Omeka
      id: omeka
      blurb: "Create online exhibitions and curate digital archives with Omeka. Omeka is a Swahili word meaning to display or to lay out for discussion, and Omeka helps you do exactly that. Display all kinds of digital media, with a program that bridges the university, library, and museum worlds with a set of commonly recognised metadata standards"
    - name: The Perfect (Reference Manager) Match
      id: refman
      blurb: "During this session Julia Kuehns and Kathryn Lindsay (Research Liaison Librarians) will introduce you to potential perfect matches from the world of reference management suitors. They will provide an overview of some of the different software applications available, and then focus on two attractive contenders: Zotero, an open-source reference manager, and Mendeley, which includes a social network. During the session you will also gain hands-on experience using Zotero and Mendeley, and find out which tool may best suit your needs"
 - class: Electives B
   tools:
    - name: Machine Learning with opencv and scikit-learn
      id: ML
      blurb: What if you could use artificial intelligence to classify data into groups with high accuracy? Come and see how machine learning can be used in research
    - name: Introduction to Fusion 360
      id: fusion
      blurb: Autodesks Fusion 360 is a free (if you're in education) to use Computer Aided Design 3D modelling software that is easy to pick up, but also has the depth to perform more advanced CAD design. This workshop will concentrate on the Sculpt environment and how to create organic freeform design with minimal effort, interact with 3D data with mesh modelling and then export to a 3D printable file format
    - name: Mapping for Researchers with CartoDB
      id: carto
      blurb: CartoDB is a simple mapping tool that allows researchers, journalists, students and mapping enthusiasts to quickly visualise large datasets. Getting started in CartoDB is as easy as dropping and dragging excel, csv and other common file types into CartoDB. It is also highly customisable with CartoCSS
    - name: "Twitter: It's for Researchers too!"
      id: twitter
      blurb: Find out how you can maximise your network, profile and research skills using social media platforms such as Twitter. Whether you're a newbie or a Tweexpert, join this interactive workshop and you'll be Tweeting up a storm in no time at all
    - name: What will you do with Watson?
      id: watson
      blurb: In this session, we will give an overview of the Watson services available in Bluemix. As a hands-on experience, we will have a deep dive session on one Watson service - Personality Insights - where we will demonstrate creation of a simple personality inference service using Twitter data
 - class: Electives C
   tools:
    - name: Analysing Urban Data with AURIN
      id: aurin
      blurb: In Part One, we will introduce you to over 1900 Australian urban datasets accessible by urban researchers containing a wealth of information on health, socio-economics, demographics and the built environment in general. We will explore specialised analytical tools that pull together diverse sources of data and combine them to reveal patterns and solve problems and create more sustainable, healthier built environments
    - name: LaTeX for Theses and Journal Articles
      id: latex
      blurb: LaTeX is a markup language focused on beautiful typesetting, and handles large, complicated documents that cause problems in standard word processors. This workshop will provide a gentle introduction to basic LaTeX usage, with a focus on theses and articles
    - name: Introduction to 3D Printing
      id: intro3d
      blurb: This session will cover the fundamentals of 3D printing; in particular the filament deposition of plastics like ABS and PLA to create a 3 dimensional object. The step-by-step process of turning an .stl file into a 3D printed model will be discussed in the 3D printing facilities at the Engineering Workshop
    - name: Visualising Networks with Gephi
      id: gephi
      blurb: Create and visualise networks with Gephi. Networks are everywhere, from friendship groups, to publishing circles. Networks can be created by monkeys moving between trees in the rainforest, or by a sudden hashtag that takes over twitter. Somehow everything is connected to everything else, and with Gephi you can visualise and analyse any network you like. Come along for an introduction to Gephi
    - name: Interactive data visualisation in your blog (Plot.ly & TinyPress)
      id: blog
      blurb: We all want to share our research and thoughts. And blogging on the web is the easiest and best way to do that. So much so that interactively visualising data, on the web, is now possible without a single line of code. Here we will build from scratch an interactive blog all with free graphical on-line tools
    - name: Tools for tracking research impact and attention
      id: impact
      blurb: Discover who is citing or talking about your research (or the research of others). This workshop will explore traditional and altmetrics for measuring the impact of your research and identifying attention received from social media sites, news outlets, and other sources. We’ll also explore using online author IDs to link your publications and to make your work more findable and identifiable
schedule: "Each day at ResBaz will be split into daytime and evening events. The day will be dedicated to classroom teaching time where we will fill your brains with the latest digital research skills. The evening will be about networking with your fellow cross-disciplinary researchers and having fun. <br><br> During the day classes are broken into three 90 minute sessions, starting at 9:30 am, 11:30 pm and 3:00 pm.<br><br>"
days:
 - day: Monday February 1
   sessions:
    - title: 8am Registration
    - title: 9am Key Story
    - title: 9.30am Training sesions 1
      id:
    - title: 11am Morning tea
    - title: 11.30am Training sessions 2
      id:
    - title: 1pm Lunch
    - title: 2pm Training sessions 3
      id:
    - title: 3.30pm Afternoon tea
    - title: 4pm Bazaar
    - title: 6.30pm Dinner
    - title: 7.30pm Bazaar
 - day: Tuesday February 2
   sessions:
    - title: 9am Key Story
    - title: 9.30am Training sesions 1
    - title: 11am Morning tea
    - title: 11.30am Training sessions 2
    - title: 1pm Lunch
    - title: 2pm Training sessions 3
    - title: 3.30pm Afternoon tea
    - title: 4pm Bazaar
    - title: 6.30pm Dinner
    - title: 7.30pm Bazaar
 - day: Wednesday February 3
   sessions:
    - title: 9am Key Story
    - title: 9.30am Training sesions 1
    - title: 11am Morning tea
    - title: 11.30am Training sessions 2
    - title: 1pm Lunch
    - title: 2pm Training sessions 3
    - title: 3.30pm Afternoon tea
    - title: 4pm Awards ceremony
speakers:
 - name: Fiona Tweedie
   img: img/fctweedie.jpg
   blurb: Fiona is a Roman historian turned digital wizard for the humanities and social sciences.
 - name: <a href="http://ri.id.au/about", target='_blank'> Ri Liu </a>
   img: img/riliu.jpg
   blurb: Ri bridges the gap between design and science through her many data visualization projects.
 - name: Tseen Khoo
   img: img/tkhoo.jpg
   blurb: Tseen is an expert in research education & development.
sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">
      <div class="row">
        <div class='col-xs-2 col-sm-3 col-lg-6'>
            <a class="hidden-xs" href="{{site.baseurl}}/">
                <img class='nav-logo' src='{{site.baseurl}}/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
            <a class="visible-xs-inline-block btn navbar-btn" href="{{site.baseurl}}/">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </div>
        <div class='col-xs-10 col-sm-9 col-lg-6'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden pull-left">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#menuSection">About</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#mapSection">Venue</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#speakerSection">Speakers</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#accommodationSection">Accommodation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p class="come-along page-scroll">
                      <a href="#registerSection" class="btn btn-lg btn-success">
                        Apply Now!
                      </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> About </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-3 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'small hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.trainers}}</p>
            </div>
        </div>

    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container' id = 'day-list'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>
                        
                        <div class='list-group'>
                        {% for session in d.sessions %}
                                <div class='list-group-item'>
                                <a class = 'menuItem'>  {{ session.title }} </a>
                                </div>
                        {% endfor %}
                        </div>

<!--                             <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'small hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p> -->

                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Venue</h1>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12 text-center">
                <p>University of Melbourne</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <p>Want to come to ResBaz Melbourne?</p>
                    <a href="http://go.unimelb.edu.au/2ura" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Apply Here
                    </a>

<!--                     <p><br />maybe include survey button?</p> 
                    <a href="http://go.unimelb.edu.au/4ura" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a> -->

                    <p><br /></p>

                </div>
            </div>

            <div class="col-md-6 text-center">
                <h4> Registration Process </h4>
                <div class='list-group'>
                {% for d in page.regsteps %}
                <li class='list-group-item text-left'>{{ d.step }}</li>
                {% endfor %}
                </div>

            </div>

            <div class="col-md-6 text-center">
                  <h4> Deadlines </h4>
                  <div class = 'list-group'>
                    {% for d in page.regschedule %}
                    <li class = 'list-group-item text-left'> <b> {{ d.date}} </b>
                      {{ d.name }}
                    </li>

                    {% endfor %}
                  </div>
            </div>

    </div>

</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodationSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation1}}</p>
              <img src="https://farm8.staticflickr.com/7327/16367245667_90a6873030_z.jpg" width="320" height="213"> </img>
              <img src="https://farm9.staticflickr.com/8617/16366871389_e3dae350b3_z.jpg" width="320" height="213"> </img>
              <p>{{page.accommodation2}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- RUNS THE CLICKABLE CONTENT ON THIS PAGE -->
<script>
    // TOOL LIST - ALL
    var toolList = document.getElementById('tool-list')
    var toolListElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<toolListElements.length; i++){
            toolListElements[i].children[0].onclick = function(){
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

    // SCHEDULE
    var dayList = document.getElementById('day-list')
    var dayListElements = dayList.getElementsByClassName('list-group-item')
    console.log(dayList)
    console.log(dayListElements)

    // REGISTRATION FLOWCHART
    var flowchartBtn = document.getElementById('reg_flowchart_btn')
    flowchartBtn.onclick = function(){
      document.getElementById('reg_flowchart_img').classList.toggle('hidden');
    }

</script>
