---
layout: site
permalink: perth

location: Perth

dates: February 1-3, 2016

splashImage: https://farm1.staticflickr.com/681/22032155473_bca28567d4_z.jpg

map: sites/perth.geojson

accommodation: Your accommodation text.

menu: The Research Bazaar is a 3-day intensive conference where researchers come together to up-skill in 'next generation digital research tools and skills'. For more info see our <a href = "http://melbourne.resbaz.edu.au/resbaz2016", target='_blank'>FAQ</a>.<br><br>Below are the tools on offer at Perth ResBaz 2016. Registration will open soon.

classes:
 - class: Main Streams
   tools:
    - name: Programming with Python
      id: python
      blurb: Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. It covers fundamentals as well as creating reusable functions, graphing with matplotlib and what to do to find and fix errors in your code.
    - name: Programming with R
      id: r1
      blurb: R is widely used across a range of disciplines for statistical computing and generating publication-quality figures. In this Software Carpentry workshop, you’ll learn the fundamentals of R for data science, Unix Shell for interacting with other programs, as well as version control and useful concepts for scientific computing such as breaking down problems into modular units, reproducibility, tracking changes to code, collaborating with others, and working with structured data.
    - name: Using the Unix shell
      id: unix
      blurb: Use of the shell is fundamental to using a wide range of other powerful tools and computing resources (including “high-performance computing” supercomputers). These lessons will start you on a path towards using these resources effectively.
    - name: Social media in research
      id: socialmed
      blurb: Description of tool # 1.

 - class: Minor Electives
   tools:
    - name: CV advice
      id: cv 
      blurb: 
    - name: Document editing with LaTeX
      id: latex
      blurb: Description of tool # n.
    - name: Visualizing your data on the web using D3
      id: d3_js
      blurb: Description of tool # n.
    - name: Natural language processing with NLTK
      id: nltk
      blurb: Description of tool # n.
    - name: Analysing qualitative data with Nvivo
      id: nvivo
      blurb: Description of tool # n.

schedule: Each day at ResBaz will be split into daytime and evening events. The day will be dedicated to classroom teaching time where we will fill your brains with the latest digital research skills. The evening will be about networking with your fellow cross-disciplinary researchers and having fun. <br><br> During the day classes are broken into three 90 minute sessions, starting at 10.30 am, 1.30 pm and 3 pm. A detailed timetable will be displayed here once sessions are confirmed.<br>

days:
 - day: Monday February 1
   sessions:
    - title: The Unix Shell
    - title: Social Media in Research
    - title: AWARE presentation
    - title: CV advice
    - title: Digital Toolbox Poster Session
 - day: Tuesday February 2
   sessions:
    - title: Programming with Python
    - title: Programming with R
    - title: Social dinner or BBQ, possible Telescope experience
 - day: Wednesday February 3
   sessions:
    - title: Version Control with Git
    - title: Document editing with LaTeX
    - title: Visualizing data on the web with D3
    - title: Analyzing quantitative data with NVivo
    - title: More to come!

speakers:
 - name:
   img: img/placehold.jpg
   blurb:
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
 - name: You!
   img: img/sponsors/fake-sponsor.png
   blurb: We want you to help lead a session; let us know if you're interested when you <a href="#registerSection">register</a>.
sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2016-02-01.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz-2016-02-01/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#menuSection">Menu</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive lead-image-local" src="{{site.baseurl}}/img/profile.png" alt=""></img>
                <div class="intro-text">
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<section id='menuSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1> Menu </h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.menu}}</p>
            </div>
        </div>

            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <h4>{{d.class}}</h4>
                    <div class = 'list-group'>
                        {% for tool in d.tools %}
                        <div class = 'list-group-item text-left'>
                            <a class='menuItem' id = {{ tool.id }} >{{ tool.name }}</a><br>
                            <p class = 'hidden' id = {{ tool.id}}Blurb > {{ tool.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz-2016-02-01/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Register here for the {{page.location}} Research Bazaar.</p>
            </div>
            <div class="col-lg-4">
                <p>The registration process starts with a Pre-Assessment Survey, so that we can create the best possible experience for you. Use the promo code given to you at the end of the survey to complete the registration form.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/forms/d/1io9-YyETAl9sQ_NkIjehq4juemgnlaXilG17USHvjug/edit" target = "_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-pencil"></i> Pre-Assessment Survey
                    </a>
                    <a href="https://docs.google.com/forms/d/1FFsIlRjtxXZIcGpJHvCewW6aQMqJNgOuZrfGnk-017E/edit" target="_blank" class="btn btn-lg btn-outline light-bkg">
                        <i class="fa fa-users"></i> Register
                    </a>
                </div>  
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Accommodation -->
<section id="acommodation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Accommodation</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.accommodation}}</p>
          </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<!-- <section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to all our sponsors for helping bring the Resarch Bazaar to the {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section> -->


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
